// bower:scss
// endbower

body {
  background: #fcfcfa;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
circle {
  fill: none;
  stroke: #f00;
  stroke-width: .5px;
}

.land {
  fill: transparent;
  stroke: #777;
}

.boundary {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
}
